{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ Register }}</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.4/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
            rel="stylesheet">
</head>

<body class="hold-transition register-page">

<div class="register-box">
    <div class="register-logo">
        <a href=""><b> Register </b></a>
    </div>
    <div class="card">
        <div class="card-body register-card-body text-center">

            {% if form.errors %}
                {% for field in form %}
                    {% if field.errors %}
                        {{ field.label }}
                        {{ field.errors }}
                    {% endif %}
                {% endfor %}
            {% endif %}

            <form method="post" action="{% url 'django_registration_register' %}">
                {% csrf_token %}
                <table>
                    <tr class="mb-2">
                        <td>{{ form.email.label_tag }}</td>
                        <td>{{ form.email | add_class:"form-control mb-2" }}</td>
                    </tr>
                    <tr class="mb-2">
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username | add_class:"form-control mb-2" }}</td>
                    </tr>
                    <tr class="mb-2">
                        <td>{{ form.password1.label_tag }}</td>
                        <td>{{ form.password1 | add_class:"form-control" }}</td>
                    </tr>
                    <tr class="mb-2">
                        <td>{{ form.password2.label_tag }}</td>
                        <td>{{ form.password2 | add_class:"form-control" }}</td>
                    </tr>
                </table>

                <input type="submit" value="Register" class="btn btn-primary mt-2">
            </form>
        </div>
    </div>
</div>