{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>{{ Login }}</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.4/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link
            href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
            rel="stylesheet">
</head>

<body class="hold-transition login-page">

<div class="login-box">
    <div class="login-logo">
        <a href=""><b> Login </b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body text-center">
            {#        <p class="login-box-msg">Sign in to start your session</p>#}

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <p>Your account doesn't have access to this page. To proceed,
                        please login with an account that has access.</p>
                {% else %}
                    <p>Please login to see this page.</p>
                {% endif %}
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <table>
                    <tr class="mb-2">
                        <td>{{ form.username.label_tag }}</td>
                        <td>{{ form.username | add_class:"form-control mb-2" }}</td>
                    </tr>
                    <tr class="mb-2">
                        <td>{{ form.password.label_tag }}</td>
                        <td>{{ form.password | add_class:"form-control" }}</td>
                    </tr>
                </table>

                <input type="submit" value="Login" class="btn btn-primary mt-2">
                <a href="/accounts/register"><input type="button" value="Register"
                                                    class="btn btn-primary mt-2 ml-2"></a>
            </form>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
<!-- Bootstrap -->
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.4/js/adminlte.min.js"></script>

</body>
